<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whisp</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body >
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
        <a href="/profile" class="bg-blue-500 px-3 py-2 rounded-md inline-block mb-5">My Profile</a>
        <h1 class="text-3xl mb-5">Explore Posts</h1>

        <% posts.forEach(post => { %>

        <div class="post mb-4 w-72 lg:w-1/2 p-4 border-2 border-zinc-700 rounded-md bg-zinc-800">            
            <h4 class="text-blue-400 mb-2">@<%= post.user.username %></h4>
            <p class="text-sm tracking-tight"><%= post.content %></p>
            <small class="mt-4 inline-block"><%= post.likes.length %> Likes</small>
            <div class="btns flex mt-1 gap-4">
                <a href="/like/<%= post._id %>" class="<%= post.likes.includes(user.userid) ? 'text-red-500' : 'text-blue-500' %>"><%= post.likes.includes(user.userid) ? "Unlike" : "Like" %></a>
            </div>
        </div>
        <% }) %>
    </div>
</body>
</html>
